<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<h1>My Todo List</h1>
<div>
    <!-- Form for adding new todo -->
    <form action="/add" method="post" th:object="${todo}">
        <input type="text" th:field="*{title}" placeholder="Add new todo" />
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
        <button type="submit">Add</button>
    </form>
</div>
<div>
    <ul>
        <!-- Loop to display todos -->
        <li th:each="todo : ${todos}">
            <span th:text="${todo.title}"></span>
            (is completed = <span th:text="${todo.completed}"></span>)

            <form action="/delete/{id}" th:action="@{/delete/{id}(id=${todo.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
            <form action="/complete/{id}" th:action="@{/complete/{id}(id=${todo.id})}" method="post">
                <button type="submit">Complete</button>
            </form>
        </li>
    </ul>
</div>
</body>
</html>